body {
  @include typo('base2')
}

a {
  color: $primary-normal-color;
  text-decoration: none;
}

a:hover,
a:focus,
.btn-link:hover,
.btn-link:focus {
  color: $primary-lighter-color;
  text-decoration: none;
}

.btn-link:hover,
.btn-link:focus {
  background-color: transparent;
}

ul, li {
  list-style: none;
}

.dropdown li a {
  margin: 0;
}





