<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>National Examinations Gateway | Welcome</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->

    <link rel="stylesheet" href="assets/css/font-awesome.css">
    <link rel="stylesheet" href="assets/css/main.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<header>
    <div class="container">
        <section>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <a href="#">
                        <div class="big-logo">
                            <span>
                                NEG
                            </span>
                        </div>
                        <div class="logo-description">
                            <div>
                                National
                            </div>
                            <div>
                                Examinations
                            </div>
                            <div>
                                Gateway
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="membership pull-right">
                        <a href="#" type="button" class="btn btn-default">Register</a>
                        <a href="#" type="button" class="btn btn-success">Login</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="main-nav">
        <div class="navbar navbar-default" role="navigation" id="main-nav">
            <div class="container">
                <div class="spinner-master">
                    <input type="checkbox" id="spinner-form"/>
                    <label for="spinner-form" class="spinner-spin" data-toggle="collapse"
                           data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="spinner diagonal part-1"></span>
                        <span class="spinner horizontal"></span>
                        <span class="spinner diagonal part-2"></span>
                    </label>
                </div>
                <a class="navbar-brand logo hidden" href="#">NEG</a>
                <ul class="nav navbar-nav pull-right social-search">
                    <li>
                        <a href="#search_box" class="social-search-btn"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#search_box" class="social-search-btn"><i
                                class="fa fa-facebook-official"></i></a>
                    </li>
                    <li>
                        <a href="#search_box" class="social-search-btn"><i class="fa fa-youtube"></i></a>
                    </li>
                    <li>
                        <a href="#search_box" class="social-search-btn" id="search"><i class="fa fa-search"></i></a>
                    </li>

                </ul>

                <div class="menu navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-margin">
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="qa.html">Questions/Answers</a></li>
                        <li><a href="services.html">Sevices</a></li>
                        <li><a href="about.html">About us</a></li>
                        <!--<li class="dropdown">-->
                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b-->
                        <!--class="caret"></b></a>-->
                        <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="#">Action</a></li>-->
                        <!--<li><a href="#">Another action</a></li>-->
                        <!--<li><a href="#">Something else here</a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li class="dropdown-header">Nav header</li>-->
                        <!--<li><a href="#">Separated link</a></li>-->
                        <!--<li><a href="#">One more separated link</a></li>-->
                        <!--</ul>-->
                        <!--</li>-->
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
            <div class="container">
                <form class="search_box" id="search_box" action="/search/">
                    <input name="search_criteria" placeholder="Search here" value="" type="text">
                    <input class="search_icon" value="Search" type="submit">
                </form>
                <!--/.search_box -->
            </div>
        </div>
    </div>
</header>

<section class="section-intro">
    <div class="intro-content">

    </div>
</section>

<section class="section-light">
    <div class="container">

    </div>
</section>

<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery.js"></script>
<script src="assets/js/bootstrap.js"></script>
<!-- Custom JavaScript -->
<script src="assets/js/nav.js"></script>
</body>
</html>

